ion-view#dashboard(view-title='Dashboard', cache-view='false')

  ion-nav-buttons(side='left')
    button(menu-toggle='left').button.button-icon.icon.ion-navicon

  //ion-nav-buttons(side='right')
  //  button.button.button-icon(ng-click='refreshLatest()')
  //    i.icon.ion-android-refresh(ng-hide='loading')
  //    i.icon(ng-show='loading')
  //      ion-spinner

  ion-content.has-header
    //ion-refresher(on-refresh='refreshLatest()')

    .card
      .item.item-divider
        | Network Hub
        .item-note(style='font-size:20px')
          i.icon.ion-battery-half.assertive(ng-if='latestNetworkHubPowerSource.powerSource == 1')
          i.icon.ion-battery-charging.balanced(ng-if='latestNetworkHubPowerSource.powerSource == 2')
        .item-note(style='font-size:24px; padding-right:5px')
          i.icon.ion-wifi(ng-class='cssClassByRssiThreshold(latestNetworkHubRssi.rssi)')

    .card(ng-repeat='(sensorHubMacAddress, roomName) in currentUser.roomNamesBySensorHubMacAddress')

      .item.item-divider
        | {{ roomName }}
        .item-note
          span(style='color:#4f9fcf; padding-right:2px')
            |  {{ sensorHubRealtime[sensorHubMacAddress].sensorHubData1 }} ℉
          |  {{ sensorHubRealtime[sensorHubMacAddress].updateTime | date:'MMM d h:mm a' : 'UTC' }}

      .item.ok(ng-if="noAlert( sensorHubMacAddress ) && showOkIfNoAlerts( roomName )")
        button.button.button-clear.button-small.button-balanced.button-icon.ion-checkmark  OK

      .item.item-icon-left.alert(ng-click='toggleAlerts( sensorHubMacAddress )', ng-if='hasAlert( sensorHubMacAddress )', ng-bind-html='alerttext.sensorHubEvent(sensorHubRealtime[sensorHubMacAddress].latestAlert)')

      .item.ok(ng-if='hasAlert( sensorHubMacAddress )', style='top:-8px')
        button.button.button-clear.button-small.button-positive.button-icon(ng-click='toggleAlerts( sensorHubMacAddress )')
          span(ng-show='alerts[sensorHubMacAddress] == undefined')
            i.ion-arrow-right-b
            |  show last 12 hours
          span(ng-show='alerts[sensorHubMacAddress] != undefined')
            i.ion-arrow-down-b
            |  hide last 12 hours

      .item.item-icon-left.alert(ng-repeat="alert in alerts[sensorHubMacAddress] | orderBy:'-timestamp'", ng-bind-html='alerttext.sensorHubEvent( alert )')

      .item.item-icon-left(ng-show='latest[sensorHubMacAddress].sensorHubData2 != undefined')
        i.icon.ion-lightbulb
        | {{ latest[sensorHubMacAddress].sensorHubData2 }} lux

      .item.item-icon-left(ng-show='latest[sensorHubMacAddress].sensorHubData3 != undefined')
        i.icon.ion-ios-rainy
        | {{ latest[sensorHubMacAddress].sensorHubData3 }}%
